<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sitios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let sitio of sites" button [routerLink]="['/detalle/', sitio.id]" detail>
      <ion-thumbnail slot="start">
        <img src="assets/img/thumbs/{{sitio.image}}" alt="" />
      </ion-thumbnail>
      <ion-label>
        <h2 class="ion-text-capitalize">{{sitio.name}}</h2>
        <h4>{{sitio.state}}</h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>